# Port number
PORT=4000
FRONTEND_URL=http://localhost:3000
# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/discord-clone

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

REDIS_PORT=6379
REDIS_HOST=localhost